<section id="contribute" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Support Roastero</h2>
            <p>We are a small group of dedicated college students working
            on Roastero relentlessly. If you like Roastero, please
            consider contributing to the project in some way. PayPal and
            Bitcoin links coming soon.</p>
        </header>
        <ul class="actions vertical">
            <li><a href="#" class="button fit">Paypal</a></li>
            <li><a href="#" class="button fit">Bitcoin</a></li>
            <li><a href="{{ site.github }}" class="button fit special">GitHub</a></li>
        </ul>
    </div>
</section>
