<section id="features" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Roastero Features</h2>
            <p>Roastero significantly extends the capabilities of the <br />
            FreshRoast SR700 while providing an open framework for other coffee roasters.</p>
        </header>
        <ul class="features">
            <li class="icon fa-area-chart ">
                <h3>Clean, Intuitive Design</h3>
                <p>Roastero includes live graph plotting in addition to a
                full set of gauges to provide critical roast information.
                With all of the roast data live, at users’ fingertips,
                users don’t have to rely only on their senses while
                roasting coffee.</p>
            </li>
            <li class="icon fa-tachometer">
                <h3>Powerful Roaster Controls</h3>
                <p>Control your roaster by setting a temperature value
                rather than heat settings with the aid of a software based
                PID controller. Quickly adjust temperature, time, and fan
                speed on the fly to achieve the perfect roast.</p>
            </li>
            <li class="icon fa-refresh">
                <h3>Roast Repeatability</h3>
                <p>Once a perfect roast is created with our built in
                recipe system, it can be roasted exactly the same,
                every time.</p>
            </li>
            <li class="icon fa-cloud">
                <h3>Social Recipe Sharing</h3>
                <p>With our Roastero Cloud Platform, users can easily
                share and download roast recipes with other roaster users
                allowing community collaboration and a low barrier of
                entry for a novice roaster.</p>
            </li>
            <li class="icon fa-crosshairs">
                <h3>Precise Roast Logging</h3>
                <p>Never miss a degree or second with Roastero’s powerful
                logging features. Roastero will automatically create a log
                of each recipe, allowing a user add cupping notes and
                repeat the roast at a later date.</p>
            </li>
            <li class="icon fa-users">
                <h3>Active Community</h3>
                <p>With an active community to share/rate recipes, provide
                recipe feedback, and ask questions, Roastero provides the
                complete package for both novice and experienced home
                roasters alike. </p>
            </li>
        </ul>
    </div>
</section>
