<!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="{{ site.github }}" class="icon fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="{{ site.facebook }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="{{ site.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="mailto:{{ site.email }}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>Made with <i class="fa fa-coffee"></i> by the Roastero team</li>
        </ul>
    </footer>
