<!-- Header -->
<header id="header" class="alt">
	<h1><a href="index.html">ROASTERO</a></h1>
	<nav id="nav">
		<ul>
			<li class="special">
				<a href="#" class="menuToggle"><span>Menu</span></a>
				<div id="menu">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="#">Sign Up</a></li>
						<li><a href="#">Log In</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>
