<section id="mission" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Our Mission</h2>
			<p>Currently, there is a sizeable barrier of entry for home
			coffee roasting. Roastero's mission is to make home coffee
			roasting accessible to everyone, not just the brave at
			heart. In order to make this mission a reality, Roastero
			seeks to create a platform where users can create and
			share roast recipes that interface with our software and
			supported roasters. In this way, a novice roaster can
			download a recipe with great reviews, purchase the green
			coffee the recipe calls for, and then achieve the same
			quality an experienced roaster achieves. Additionally,
			Roastero looks to provide ample resources to facilitate
			users to move from using other users’ recipes to creating
			their own, thus eliminating the barrier of entry to home
			coffee roasting. </p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-user major style1"><span class="label">Lorem</span></span></li>
			<li><span class="icon fa-code major style2"><span class="label">Ipsum</span></span></li>
			<li><span class="icon fa-coffee major style3"><span class="label">Dolor</span></span></li>
		</ul>
	</div>
</section>
