<section id="two" class="wrapper alt style2">
	<section class="spotlight">
		<div class="image"><img src="images/roast-tab.png" alt="" /></div><div class="content">
			<h2>Our Products</h2>
			<p>Our flagship product is an open source, cross-platform
			coffee roasting application. Currently, our application is
			compatible with the FreshRoast SR700 coffee roaster, with the
			potential to support any computer assisted, home roasting
			device. In order to share recipes, we have created the
			Roastero Cloud Platform designed as a central hub for users to
			share and explore roast recipes.  </p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/recipe-tab.png" alt="" /></div><div class="content">
			<h2>Our Philosophy</h2>
			<p>We decided at an early stage that we wanted our core
			application to be free and open source for the life of the
			product. The current state of home roasting involves a lot of
			modification, tinkering, and hacking. Released under GPLv3,
			Roastero continues this legacy, allowing users to have full
			control over their roasters. While designing the application,
			we wanted to maintain this level of control while providing a
			simplistic interface for an inexperienced user.</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/roast-completed.png" alt="" /></div><div class="content">
			<h2>When Can I Download Roastero?</h2>
			<p>Roastero is currently being meticulously tested by a small
			group of beta users to ensure its quality upon release. Our
			official release to all users will be available in July. We will
			then begin work on the Roastero cloud platform and provide
			official release dates for the platform at a later date.</p>
		</div>
	</section>
</section>
