<!DOCTYPE HTML>
<!--
	ROASTERO by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
    {% include head.html %}
	<body class="landing">
        <!-- Page Wrapper -->
		<div id="page-wrapper">
            {% include header.html %}
            {{ content }}
            {% include footer.html %}
        </div>

		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>
