/* Application window definitions. */
QMainWindow {
    background-color: #2e3138;
}

QDialog{
    background-color: #2e3138;
}

QToolBar {
    background-color: #444953;
    border-radius: 5px;
    margin: 12% 12% 0px 12%;
}

QPushButton#toolbar {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: #fff;
    font-family: "Asap";
    font: bold;
    margin: 15px 5px 3px 5px;
    font-size: 12px;
    background-color: none;
}

QPushButton#toolbar:disabled {
      background-color: #23252b;
      color: #444953;
}

QPushButton#loginButton {
    border-radius: 5px;
    width: 100px;
    height: 36px;
    background-color: #8ab71b;
    color: #fff;
    margin: 8px;
    font-family: "Asap";
    font: bold;
    font-size: 12px;
}

QPushButton#loginButton:pressed {
    background-color: #7ca418;
}

QLabel#logo{
    color: #fff;
    padding: 15px 15px 3px 15px;
    font-family: "Asap";
    font-size: 20px;
    font: bold;
}

/* Element definitions. */
QPushButton {
    border-radius: 5px;
    width: 140px;
    height: 36px;
    background-color: #2aa1d3;
    color: #fff;
    margin: 5px;
    font-family: "Asap";
    font: bold;
    font-size: 12px;
}

QPushButton:disabled {
    background-color: #444953;
}

QPushButton:pressed {
    background-color: #2691bd;
}

QListWidget{
    font-family: "Asap";
    font: bold;
    color: #fff;
    border-radius: 5px;
    background-color: #444953;
    outline: none;
    font-size: 12px;
}

QListView {
    outline: none;
}

QListWidget::item {
    background-color: #444953;
    height: 30px;
    padding: 5px;
    border-top-width: 1px;
    border-color: #333841;
    border-style: solid;
}

QListWidget::item:selected {
    background-color: #23252b;
    color: #fff;
    border-top-color: #8ab71b;
    border-top-style: solid;
    border-top-width: 2px;
}

QLabel {
    color: #fff;
    font-family: "Asap";
    font: bold;
    font-size: 12px;
}

QComboBox {
    border-radius: 5px;
    width: 105px;
    height: 36px;
    background-color: #2aa1d3;
    color: #fff;
    margin: 2px;
    font-family: "Asap";
    font: bold;
    padding-left: 5px;
    font-size: 12px;
}

QComboBox:on { /* shift the text when the popup opens */
    padding: 5px;
}

QComboBox QAbstractItemView {
    border-radius: 5px;
    border: 1px;
    background-color: #148eb5;
}

QComboBox::drop-down {
    width: 35px;
    background-color: #148eb5;
    border-left-width: 1px;
    border-left-color: #1d86aa;
    border-left-style: solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

QComboBox::down-arrow {
    image: url(modules/gui/images/downArrow.png);
}

QSpinBox {
    background-color: #2aa1d3;
    border: 0px;
    border-radius: 5px;
    height: 36px;
    color: #fff;
    font-family: "Asap";
    font: bold;
    width: 105px;
}

QSpinBox:disabled {
    background-color: #444953;
}

QSpinBox::up-button {
    width: 35px;
    background-color: #2aa1d3;
    border-left-width: 2px;
    border-left-color: #1d86aa;
    border-left-style: solid;
    border-top-right-radius: 5px;
    image: url(modules/gui/images/upArrow.png);
}

QSpinBox::up-button:pressed {
    background-color: #148eb5;
}

QSpinBox::up-button:disabled {
    background-color: #444953;
    border-left-color: #23252b;
}

QSpinBox::down-button {
    width: 35px;
    background-color: #2aa1d3;
    border-left-width: 2px;
    border-left-color: #1d86aa;
    border-left-style: solid;
    border-bottom-right-radius: 5px;
    image: url(modules/gui/images/downArrow.png);
}

QSpinBox::down-button:pressed {
    background-color: #148eb5;
}

QSpinBox::down-button:disabled {
    background-color: #444953;
    border-left-color: #23252b;
}

QSlider::groove {
    border-radius: 5px;
    height: 8px;
}

QSlider::handle:horizontal {
    background-color: #fff;
    width: 16px;
    height: 12px;
    margin: -4px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 8px;
}

QSlider::add-page:horizontal {
    background: #23252b;
    border-radius: 4px;
    height: 10px;
}

QSlider::sub-page:horizontal {
    background: #f0b017;
    border-radius: 4px;
    height: 10px;
}

QSlider::sub-page:horizontal:disabled {
    background: #444953;
}

QTreeView {
    background-color: #23252b;
    border-radius: 5px;
    color: #fff;
    font-family: "Asap";
    font: bold;
}

QTreeView::item:has-children {
    background-color: #444953;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #333841;
}

QTreeView::item::open:has-children {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #8ab71b;
    color: #fff;
}

QTreeView::item::has-children:selected {
    color: #fff;
}

QTreeView::item {
    background-color: #23252b;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #1d1f24;
    height: 36px;
}

QTreeView::item:!has-children:selected {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #2aa1d3;
    color: #fff;
}

QTextEdit {
    border-radius: 5px;
    background-color: #23252b;
    color: #fff;
    padding: 5px;
    font-family: "Asap";
    selection-background-color: #2aa1d3;
    selection-color: #fff;
}

QTimeEdit {
    background-color: #2aa1d3;
    border: 0px;
    border-radius: 5px;
    height: 36px;
    color: #fff;
    font-family: "Asap";
    font: bold;
    width: 105px;
}

QTimeEdit QSpinBox {
    background-color: #2aa1d3;
    border: 0px;
    border-radius: 5px;
    height: 36px;
    color: #fff;
    font-family: "Asap";
    font: bold;
    width: 105px;
}

QTimeEdit::up-button {
    width: 35px;
    background-color: #2aa1d3;
    border-left-width: 2px;
    border-left-color: #1d86aa;
    border-left-style: solid;
    border-top-right-radius: 5px;
    image: url(modules/gui/images/upArrow.png);
}

QTimeEdit::up-button:pressed {
    background-color: #148eb5;
}

QTimeEdit::down-button {
    width: 35px;
    background-color: #2aa1d3;
    border-left-width: 2px;
    border-left-color: #1d86aa;
    border-left-style: solid;
    border-bottom-right-radius: 5px;
    image: url(modules/gui/images/downArrow.png);
}

QTimeEdit::down-button:pressed {
    background-color: #148eb5;
}

QPushButton#smallButton {
    border-radius: 5px;
    width: 120px;
    height: 28px;
    background-color: #8ab71b;
    color: #fff;
    margin: 5px;
    font-size: 12px;
    font-family: "Asap";
    font: bold;
}

QPushButton#smallButton:pressed {
    background-color: #7ca418;
}

QPushButton#smallButton:disabled {
    background-color: #444953;
}

QPushButton#smallButtonAlt {
    border-radius: 5px;
    width: 120px;
    height: 28px;
    background-color: #f0b017;
    color: #fff;
    margin: 5px;
    font-size: 12px;
    font-family: "Asap";
    font: bold;
}

QPushButton#smallButtonAlt:pressed {
    background-color: #c08d12;
}

QTableWidget {
    border-radius: 5px;
    background-color: #23252b;
    alternate-background-color: #2e3138;
    text-align: center;
    selection-background-color: #f0b017;
    color: #fff;
    padding: 5px;
    font-family: "Asap";
    font: bold;
}

QTableView {
    font-family: "Asap";
    font: bold;
}

QHeaderView {
    background-color: #23252b;
}

QHeaderView::section {
    background-color: #23252b;
    border: none;
    color: #fff;
}

QHeaderView::section:horizontal {
    font-family: "Asap";
    text-transform: uppercase;
}

QTableView QTableCornerButton::section {
    background-color: #23252b;
}

QLineEdit {
    background-color: #23252b;
    border-radius: 5px;
    border: none;
    height: 30px;
    padding-left: 8px;
    color: #fff;
    font-family: "Asap";
    selection-background-color: #2aa1d3;
    selection-color: #fff;
}

QLineEdit:focus {
    border: 2px solid #2aa1d3;
}

/* Roast tab definitions. */
QLabel#label {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #444953;
    color: #fff;
    font-family: "Asap";
    font-size: 14px;
    font: bold;
    padding: 12px;
}

QLabel#tempGuage {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #23252b;
    color: #2aa1d3;
    font-size: 40px;
    font-family: "Asap";
    font: bold;
    padding: 10px;
}

QLabel#tempGuage:disabled {
    color: #444953;
}

QLabel#timeWindow {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #23252b;
    color: #8ab71b;
    font-size: 40px;
    font-family: "Asap";
    font: bold;
    padding: 10px;
}

QLabel#timeWindow:disabled {
    color: #444953;
}

QWidget#graph {
    color: #f00;
    background-color: #444953;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

QLabel#connectionStatus {
    border-radius: 5px;
    background-color: #444953;
}

QProgressBar {
    background-color: #23252b;
    height: 30px;
}

QProgressBar::chunk {
    background-color: #8ab71b;
}

QProgressBar#firstProgressBar {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 2px solid #171a1e;
}

QProgressBar#firstProgressBar::chunk {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

QProgressBar#middleProgressBar {
    border-right: 2px solid #171a1e;
}

QProgressBar#lastProgressBar {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

QProgressBar#lastProgressBar::chunk {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Recipe tab definitions. */
QLabel#RecipeName {
    font-size: 25px;
    text-transform: uppercase;
}

QLabel#recipeSelectionLabel {
    border-radius: 5px;
    background-color: #2e3138; 
}
